.dashboard {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}



.widget {
  width: 220px;
  background-color: lightgray;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  height: 160px;
  margin-right: 20px; /* Add margin-right to create space between widgets */
}


