<div class="container-3-4">
  <div style="font-family: sans-serif;">
    <div style="margin-left: 30px;">
  <h1>Dashboard</h1>
</div>
<div class="dashboard">
  <div class="row">


  <div class="card-col-md-8" style="  flex-direction: row;
  display: flex;">
    <div class="widget" style="background-color: rgb(65, 111, 180);">
      <div class="row">
        <div class="col-md-9">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="col-md-3" style="float: right;">
          <mat-icon style="border:none;;"></mat-icon>
          <mat-icon>more_vert</mat-icon>

          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>

        </div>
      </div>

      <h4 class="card-heading">Balance</h4>
      <h4 class="card-value">${{items.balance}}</h4>
    </div>

    <div class="widget" >
      <div class="row">
        <div class="col-md-9">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="col-md-3" style="float: right;">
          <mat-icon style="border:none"></mat-icon>
          <mat-icon>more_vert</mat-icon>

          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>

        </div>
      </div>

      <h4 class="card-heading">Income</h4>
      <h4 class="card-value">${{items.income}}</h4>
    </div>

    <div class="widget" >
      <div class="row">
        <div class="col-md-9">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="col-md-3" style="float: right;">
          <mat-icon style="border:none"></mat-icon>
          <mat-icon>more_vert</mat-icon>

          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>

        </div>
      </div>

      <h4 class="card-heading">Savings</h4>
      <h4 class="card-value">${{items.savings}}</h4>
    </div>

    <div class="widget" >
      <div class="row">
        <div class="col-md-9">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="col-md-3" style="float: right;">
          <mat-icon style="border:none"></mat-icon>
          <mat-icon>more_vert</mat-icon>

          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>

        </div>
      </div>

      <h4 class="card-heading">Expenses</h4>
      <h4 class="card-value">${{items.expenses}}</h4>
    </div>
    
  </div>

    <div class="card" >
      <div id="chartdiv" style="width: 50%; height: 300px; margin-left: 20px;"></div>


</div>
<div class="tab-content" id="nav-tabContent" style="height: 200px;">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">                                      
    <table id="orange" class="table" style="text-align: left;">
      <thead>Transactions</thead>
      <tbody>
        <tr *ngFor="let o of displayedData">
          <td scope="col"><img src="{{o.picture}}" alt="User Picture" width="32" height="32"></td>
          <td scope="col">{{o.name}}</td>
          <td scope="col">{{o.company}}</td>
          <td scope="col">{{o.registered | date:'MMM d, y'}}</td>
          <td scope="col">${{o.balance}}</td>
          <td scope="col">{{o.status}}</td>
        </tr>
      </tbody>
    </table>
       
    </div>        
    <div class="pagination" style="float: right;">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>               
    </div>

    

   </div></div>  </div>